$accentColor = $c-brand
$codeBgColor = $code-bg-color

// custom
$font-family = source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace
//$c-brand = #4569d4
$c-brand = #3eaf7c
$code-bg-color = #f9fafb
$code-line-height = 24px
$code-font-size = 14px
$code-font-family = $font-family
